* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background-color: #1F1E1F;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}